In [70]:
from settings import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px





df = pd.read_csv("./data/data.csv", header=0)

In [71]:
zeross = np.zeros(100)
df['Latitude'] = zeross

In [72]:
df

    longitude  elevation  Latitude
0     -80.120       85.5       0.0
1     -80.075      160.5       0.0
2     -80.030      254.5       0.0
3     -79.985      161.0       0.0
4     -79.940      140.0       0.0
..        ...        ...       ...
95    -75.845      254.0       0.0
96    -75.800      264.0       0.0
97    -75.755      259.0       0.0
98    -75.710      232.0       0.0
99    -75.665      226.0       0.0

[100 rows x 3 columns]

In [73]:
zeross

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [74]:
df['elevation'].describe()

count     100.000000
mean      996.995000
std      1080.739229
min        85.500000
25%       256.375000
50%       339.000000
75%      1683.375000
max      4054.500000
Name: elevation, dtype: float64

In [75]:
for index,row in df.iterrows():
    if row[1] > 2000:    
        print(index,row[0])

32 -78.68
33 -78.635
34 -78.59
35 -78.545
36 -78.5
37 -78.455
38 -78.41000000000001
39 -78.36500000000001
40 -78.32000000000001
41 -78.275
42 -78.23
43 -78.185
44 -78.14
45 -78.095
46 -78.05000000000001
47 -78.00500000000001
48 -77.96000000000001
49 -77.915
50 -77.87
51 -77.825
52 -77.78
53 -77.735
54 -77.69